.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f03;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
}
